<style>
.trademarks {
	text-align:center;
}
.notice {
	text-align: center;
	font-size:150%;
	color:#00459C
}
.address {
	text-align: center;
}
/* text color should be 666 */
</style>

<br>

<div class="trademarks">
	{{ MACRO|safe }}
</div>

<p class="notice">Our website is <strong>coming soon</strong>. Thank you for visiting.</p>

<div class="address">
	<p>OUR ADDRESS: P.O. BOX 295959 RIYADH 11351 SAUDI ARABIA TEL +966 1 416 2532 FAX +966 1 462 9714</p>
	<p>E-mail <a href="mailto:info@idlts.com">info@idlts.com</a></p>
</div>
<br>

<h1>CONTACT</h1>

<p>If you have questions about our systems, solutions or any of our partners, products or services, or if you wish to learn more about becoming a customer, submit your inquiry and someone from our team will respond directly. All fields are required to better serve you.</p>