<style>
.notice {
	text-align: center;
	font-size:150%;
	color:#00459C
}
.address {
	text-align: center;
}
/* text color should be 666 */
</style>

<p class="notice">Our website is <strong>coming soon</strong>. Thank you for visiting.</p>

<div class="address">
	<p>OUR ADDRESS: P.O. BOX 295959 RIYADH 11351 SAUDI ARABIA TEL +966 1 416 2532 FAX +966 1 462 9714</p>
	<p>E-mail <a href="mailto:info@idlts.com">info@idlts.com</a></p>
</div>
<br>

<h1>CONTACT</h1>

<div class="paragraph">
	<p>Thank you for sending us a message. We will review it and get back to you as soon as convenient.</p>
	<p><a href="/home/" style="text-decoration:none;">back to home page</a></p>
</div>