<div class="paragraph alittletotheright">
	<h1>FEATURED <span class="coloredtext">PRODUCTS</span></h1>
</div>
<div class="paragraph alittletotheright">
	<div class="line">
		<div class="column25" style="background:red; color:white;">
			<p>image 1</p>
		</div>
		<div class="column25" style="background:blue; color:white;">
			<p>image 2</p>
		</div>
		<div class="column25" style="background:red; color:white;">
			<p>image 3</p>
		</div>
		<div class="column25" style="background:blue; color:white;">
			<p>image 4</p>
		</div>
	</div>
	<div class="separator"></div>
</div>
